<!-- <script src="js/tableCollapse.js"></script> -->
<!-- <img align="right" class="navbar-brand-text" style="max-width:175px;max-height:175px;"
				alt="BoomerangCast" src="img/boomerang-small-logo.png"  /> -->



<div class="box col-md-12">

	<div class="col-lg-3 col-md-3">
		<div class="panel panel-transparent">
			<div class="panel-heading">
				<div class="row">


					<div class="col-xs-6 text-left">
						<div>
							<strong>Welcome !!
								&nbsp;{{userdetails.fname}}&nbsp;{{userdetails.lname}}</strong>
						</div>
						<div>
							No of Reports :&nbsp;&nbsp;&nbsp;<strong></strong>
						</div>
						<div>
							Amount Received:&nbsp;&nbsp;&nbsp;<strong></strong>
						</div>

						<div>&nbsp;</div>
					</div>
				</div>
			</div>

		</div>
	</div>


</div>


<div class="box-content">
	<ul class="nav nav-tabs">
		<li><a id="eventsLink"
			style="font-weight: bold; text-decoration: none"
			onclick="document.getElementById('sponsorList').className='tab-pane'; document.getElementById('events').className='active'; document.getElementById('admin').className='tab-pane';document.getElementById('eventsLink').className='blacked';document.getElementById('spLink').className='greyed';document.getElementById('adminLink').className='greyed';sessionStorage.setItem('activeTab','1');"
			data-toggle="active">Report Violation</a></li>
		<li><a id="spLink"
			style="font-weight: bold; text-decoration: none"
			onclick="document.getElementById('sponsorList').className='active'; document.getElementById('events').className='tab-pane'; document.getElementById('admin').className='tab-pane';document.getElementById('spLink').className='blacked';document.getElementById('eventsLink').className='greyed';document.getElementById('adminLink').className='greyed';sessionStorage.setItem('activeTab','2');"
			data-toggle="tab">User History</a></li>
		<li><a id="adminLink"
			style="font-weight: bold; text-decoration: none"
			onclick="document.getElementById('sponsorList').className='tab-pane'; document.getElementById('events').className='tab-pane'; document.getElementById('admin').className='active';document.getElementById('adminLink').className='blacked';document.getElementById('eventsLink').className='greyed';document.getElementById('spLink').className='greyed';sessionStorage.setItem('activeTab','3');"
			data-toggle="tab">User Profile</a></li>
	</ul>
</div>

<div id='content' class="tab-content">


	<div class="tab-pane active" id="events">
		<div class="box-content">
			<div class="row">
				<div class="box col-md-12">
					<div class="box-inner">
						<div class="box-header well">
							<h2>
								<i class="glyphicon glyphicon"></i> Violation Details
							</h2>
							<div class="box-icon"></div>
						</div>

						<br>
						<div class=" form-group col-md-12">
							<div class=" form-group col-md-3">
								<script>
								$(function() {

									$("#datepicker").datepicker({
										dateFormat : 'dd-mm-yy  HH'
									});
								});
							</script>

								<label >Please select date of the video
								you want to review </label> <span
									style="color: Red;"> * </span> <input type="text"
									id="st-datetimepicker" class="on-focus form-control"
									ng-model="startDate" ng-change="fetchVideo()"></input>



							</div>
						</div>

						<script>
							function onClickMarkVideo() {
								var vid = document.getElementById("myVideo");
								var roundToInt = Math.round(vid.currentTime);
								var startTime = roundToInt - 10;
								if (startTime < 0) {
									startTime = 0;
								}
								var endTime = roundToInt + 10;

								var startDate = (new Date()).clearTime()
										.addSeconds(startTime).toString(
												'H:mm:ss');
								var endDate = (new Date()).clearTime()
										.addSeconds(endTime)
										.toString('H:mm:ss');

								document.getElementById('startMark').value = startDate;
								document.getElementById('endMark').value = endDate;

							}
						</script>
						<!-- ng-show="myVideo"  -->
						<div class="form-group col-md-12">
							<video id="myVideo" controls poster="img/logo.png" title="Video title"
								style="width: 1000px; height: 400px; object-fit: fill;"			
								>
								 <source id="myVideoSrc" src="" type="video/mp4" controls />
								 </video>
								 
						</div>
						<div class="form-group col-md-12">
							<a class="btn btn-default" onclick="onClickMarkVideo()"> <i
								class="glyphicon glyphicon-plus"></i> Mark Video
							</a>
						</div>
						<div class="form-group col-md-12">

							<div class="form-group col-md-2">

								<label for="businessName">Start mark</label> <span
									style="color: Red;"> * </span>
							</div>
							<div class="form-group col-md-2">
								<input type="text" class="form-control" ng-model="startMark"
									id="startMark" placeholder="Enter Start mark">
							</div>

						</div>
						<div class="form-group col-md-12">
							<div class="form-group col-md-2">
								<label for="typeOfBusiness">End mark</label> <span
									style="color: Red;"> * </span>
							</div>
							<div class="form-group col-md-2">
								<input type="text" class="form-control" ng-model="endMark"
									id="endMark" placeholder="Enter end mark">
							</div>

						</div>
						<div class="form-group col-md-12">
							<div class="form-group col-md-2">
								<label for="vehicleNumber">Vehicle Number</label> <span
									style="color: Red;"> * </span>
							</div>
							<div class="form-group col-md-2">
								<input type="text" class="form-control" ng-model="vehicleNumber"
									id="vehicleNumber" placeholder="Enter vehicle number">
							</div>

						</div>
						<div class="form-group col-md-12">
							<div class="form-group col-md-2">
								<label for="location">Locaton</label> <span
									style="color: Red;"> * </span>
							</div>
							<div class="form-group col-md-2">
								{{userdetails.address}}
							</div>

						</div>
						<div class="form-group col-md-12">
							<div class="form-group col-md-2">
								<label for="camId">Cam ID</label> <span
									style="color: Red;"> * </span>
							</div>
							<div class="form-group col-md-2">
								{{userdetails.cameraId}}
							</div>

						</div>
						<!-- <div class="form-group col-md-12">
			 <div class="form-group col-md-2"> 
					<div style="text-align:right" class="form-group col-md-3">
						<label>Date & Time:</label> <span style="color: Red;">
								* </span>
					</div>
					<div class=" form-group col-md-2">
						<script>
							$(function() {

								$("#datepicker").datepicker();
							});
						</script>

						<p>

							<input type="text" id="st-datetimepicker" class="on-focus form-control" ng-model="startDate">
							
                          
						</p>
                         <div class="tool-tip slideIn right">The date/time when you want to enter the details of violated person.</div>
					</div>
				</div> -->
						<!-- <div class="form-group col-md-12">
							<div class="form-group col-md-2">
								<label for="violationType">Violation Type </label> <span
									style="color: Red;"> * </span>
							</div>


							<div class="form-group col-md-2">

								<select class="form-control form-control-select"
									id="violationTypeParent" ng-model="violationTypeParent">

									<option value="" selected="" disabled="disabled">Please
										Select</option>
									<option value="Parking violation">Parking violation</option>
									<option value="Moving violation">Moving violation</option>

								</select>
							</div>
						</div> -->
						<div 
							class="animate-if" class="form-group col-md-12">
							<div class="form-group col-md-2">
								<label for="typeOfBusiness">Violation Type</label>
							</div>

							<div class="form-group col-md-4">

								<select class="form-control form-control-select"
									id="violationType" ng-model="violationType">

									<option value="" selected="" >Please
										Select</option>
										<option value="Dangerous Driving">Dangerous Driving</option>
									<option value="Breaking Signal">Breaking Signal</option>
									<option value="Non Registered">Driving a non
										registered vehicle</option>
									<option value="Sticker">Not displaying the sticker
										indicating the valid date of the vehicle license at a clear
										place on the vehicle or refusing to show it when requested</option>
									<option value="Without Renewal">Driving a vehicle on
										the road without renewal of it's license.</option>
									<option value="Without Number Plates">Driving a
										vehicle without number plates</option>
									<option value="Unauthorized Changes ">Making
										unauthorized changes of color or shape of the number plates or
										altering the details on it or loaning it or exchanging it</option>
								</select>
							</div>
						</div>
						<!-- <div ng-if="violationTypeParent == 'Parking violation'"
							class="animate-if" class="form-group col-md-12">
							<div class="form-group col-md-2">
								<label for="typeOfBusiness">Parking violation </label>
							</div>

							<div class="form-group col-md-4">

								<select class="form-control form-control-select"
									>

									<option value="" selected="" >Please
										Select</option>
									<option value="Non Registered">Driving a non
										registered vehicle</option>
									<option value="Sticker">Not displaying the sticker
										indicating the valid date of the vehicle license at a clear
										place on the vehicle or refusing to show it when requested</option>
									<option value="Without Renewal">Driving a vehicle on
										the road without renewal of it's license.</option>
									<option value="Without Number Plates">Driving a
										vehicle without number plates</option>
									<option value="Unauthorized Changes ">Making
										unauthorized changes of color or shape of the number plates or
										altering the details on it or loaning it or exchanging it</option>
								</select>
							</div>
						</div> -->
						<div class="form-group col-md-12">
							<a class="btn btn-default" ng-click="SubmitReport()"> <i
								class="glyphicon glyphicon-plus"></i> Submit Report
							</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>



	</div>

	<div class="tab-pane" id="sponsorList">
		<div class="box-content">
			<div class="row">
				<div class="box col-md-12">
					<div class="box-inner">
						<div class="box-header well" data-original-title="">
							<h2>
								<i class="glyphicon glyphicon-"></i>Reports & Account
								Details&nbsp;&nbsp;&nbsp; <input placeholder="Search"
									ng-model="searchKeywordAd" type="text" max-width=10
									style="border-radius: 4px; height: 25px; padding: 8px 12px; font-size: 14px;">
							</h2>
							<div class="box-icon"></div>


						</div>
						<div class="box-content">
							<div style="width: 100%; overflow-x: hidden; ">

								<table class="table table-striped table-bordered responsive">
									<thead>
										<tr>
											<th>Camera Id</th>
											<th>Location</th>
											<th>User</th>
											<th>Clip</th>
											<th>Violation Type</th>
											<th>Review Status</th>
											<th>Notes</th>
										</tr>
									</thead>

									<tbody>
																			 <tr ng-repeat="rep in userReports"  class="ng-scope">
											<td><a class="blue center box col-md-1" style="font-weight: bold;">{{rep.cameraId}}</a></td>

											<td class="center box col-md-2">{{rep.location}}</td>
											<td class="center box col-md-1">{{rep.userId}}</td>
											
											<td height="1" class="center box col-md-2">
											<video ng-if="rep.videoPath" style="width:500px;height:200px;object-fit: fill;" src="{{'files/' + rep.videoPath}}" controls/>
											<img ng-if="rep.imagePath" style="width:500px;height:200px;object-fit: fill;" src="{{'files/' + rep.imagePath}}" />
											
											</td>
											<td class="center box col-md-1">{{rep.violationType}}</td>
											<td class="center box col-md-1">{{rep.status}}</td>
											<td class="center box col-md-2">{{rep.notes}}</td>
											
											
										</tr> 
									</tbody>

								</table>
							</div>
							<!-- <a class="btn btn-default" href="#/newadvt/{{currentOrg.orgId}}">
									<i class="glyphicon glyphicon-plus"></i> Add Sponsors
								</a> -->


















						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	<div class="tab-pane" id="admin">

		<div class="panel panel-default">
			<div class="panel-heading">User Details</div>
			<div class="panel-body">
				<div class="box col-md-36">




					<div class="box col-md-12" ng-hide="ShowResetPassword">
						<div class="box col-md-12" ng-hide="ShowEditDiv">
							<div class="form-group col-md-5">
								<div class="form-group col-md-12">
									<div class="form-group col-md-3">
										<label for="username">Username:</label>
									</div>
									<div class="form-group col-md-5">
										{{userdetails.username}}</div>




								</div>
								<div class="form-group col-md-12">
									<div class="form-group col-md-3">
										<label for="fname">First Name</label>
									</div>
									<div class="form-group col-md-5">{{userdetails.fname}}</div>

								</div>
								<div class="form-group col-md-12">
									<div class="form-group col-md-3">
										<label for="lname">Last Name</label>
									</div>
									<div class="form-group col-md-5">{{userdetails.lname}}</div>

								</div>
								<div class="form-group col-md-12">
									<div class="form-group col-md-3">
										<label for="email">Email</label>
									</div>
									<div class="form-group col-md-5">{{userdetails.email}}</div>
								</div>

								<div class="form-group col-md-12">
									<div class="form-group col-md-3">
										<label for="phoneNumber">Phone Number</label>
									</div>
									<div class="form-group col-md-5">
										{{userdetails.phoneNumber}}</div>

								</div>
								<div class="form-group col-md-12">
									<div class="form-group col-md-3">
										<label for="phoneNumber">Address</label>
									</div>
									<div class="form-group col-md-5">{{userdetails.address}}

									</div>

								</div>
								<div class="form-group col-md-12">
									<div class="form-group col-md-3">
										<label for="phoneNumber">City</label>
									</div>
									<div class="form-group col-md-5">{{userdetails.city}}</div>
								</div>
							</div>
							<div class="form-group col-md-6">
								<div class="form-group col-md-12">
									<div class="form-group col-md-2">
										<label for="state">State</label>
									</div>
									<div class="form-group col-md-5">{{userdetails.state}}</div>

								</div>
								<div class="form-group col-md-12">
									<div class="form-group col-md-2">
										<label for="postalCode">Zip</label>
									</div>
									<div class="form-group col-md-5">
										{{userdetails.postalCode}}</div>

								</div>
								<!-- <div class="form-group col-md-12">
			 <div class="form-group col-md-2"> 
					<div style="text-align:right" class="form-group col-md-3">
						<label>Date Of Birth:</label> 
					</div>
					<div class=" form-group col-md-4">
						<script>
							$(function() {

								$("#datepicker").datepicker();
							});
						</script>

						<p>

							<input type="text" id="en-datetimepicker" class="on-focus form-control" ng-model="userdetails.dob">
							
                          
						</p>
                         <div class="tool-tip slideIn right">The date/time when you want to enter the details of violated person.</div>
					</div>
				</div> -->
								<div class="form-group col-md-12">
									<div class="form-group col-md-2">
										<label for="accountNumber">Account Number</label>
									</div>
									<div class="form-group col-md-5">
										{{userdetails.accountNumber}}</div>

								</div>


								<!-- <div class="form-group col-md-12">
				<label for="username">User Name</label> <span style="color: Red;">
					* </span> <input type="text" class="form-control" ng-model="username"
					id="username" placeholder="User Id">
			</div> -->




							</div>

							<div class="form-group col-md-1">
								<a style="float: right;" class="btn btn-default btn-setting"
									ng-click="EditProfile()"><i
									class="glyphicon glyphicon-edit"></i>&nbsp;Edit Details </a><br>
								<br> <br> <a style="float: right;"
									class="btn btn-default btn-setting" ng-click="EditPassword()"><i
									class="glyphicon glyphicon-edit"></i>&nbsp;Reset Password </a>

							</div>




						</div>

					</div>








					<div class="box col-md-12" ng-show="ShowEditDiv">
						<div class="form-group col-md-6">

							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="fname">First Name</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.fname" id="fname"
										placeholder="Enter First Name">
								</div>

							</div>
							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="lname">Last Name</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.lname" id="lname"
										placeholder="Enter Last Name">
								</div>

							</div>
							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="email">Email</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.email" id="email"
										placeholder="Enter E-mail address"
										pattern="([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])">
								</div>

							</div>

							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="phoneNumber">Phone Number</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.phoneNumber" id="phoneNumber"
										maxlength="10">
								</div>

							</div>
							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="phoneNumber">Address</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.address" id="address">
								</div>

							</div>
							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="phoneNumber">City</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.city" id="city" maxlength="10">
								</div>

							</div>
						</div>
						<div class="form-group col-md-6">
							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="phoneNumber">State</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.state" id="state" maxlength="10">
								</div>

							</div>
							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="phoneNumber">Zip</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.postalCode" id="postalCode"
										maxlength="10">
								</div>

							</div>
							<!-- <div class="form-group col-md-12">
			 <div class="form-group col-md-2"> 
					<div style="text-align:right" class="form-group col-md-3">
						<label>Date Of Birth:</label> 
					</div>
					<div class=" form-group col-md-4">
						<script>
							$(function() {

								$("#datepicker").datepicker();
							});
						</script>

						<p>

							<input type="text" id="en-datetimepicker" class="on-focus form-control" ng-model="userdetails.dob">
							
                          
						</p>
                         <div class="tool-tip slideIn right">The date/time when you want to enter the details of violated person.</div>
					</div>
				</div> -->
							<div class="form-group col-md-12">
								<div class="form-group col-md-2">
									<label for="phoneNumber">Account Number</label>
								</div>
								<div class="form-group col-md-4">
									<input type="text" class="form-control"
										ng-model="userdetails.accountNumber" id="accountNumber">
								</div>

							</div>
							<div class="form-group col-md-12">
								<br> <br> <br>
								<div class="form-group col-md-6">

									<a class="btn btn-default btn-setting" ng-click="updateUser()"><i
										class="glyphicon glyphicon-ok"></i>&nbsp;Save </a>

								</div>
								<div class="form-group col-md-6">
									<a class="btn btn-default btn-setting" ng-click="EditProfile()"><i
										class="glyphicon glyphicon-ok"></i>&nbsp;Cancel </a>


								</div>





							</div>





						</div>






					</div>












					<div class="box col-md-12" ng-show="ShowResetPassword">
						<div class="form-group col-md-8">
							<div class="form-group col-md-4">

								<label for="username">Username:</label>
							</div>
							<div class="form-group col-md-5">

								<input type="text" readonly="true"
									ng-model="userdetails.username" class="form-control"
									id="username" placeholder="Enter admin user name">

							</div>
						</div>



						<div class="form-group col-md-8">
							<div class="form-group col-md-4">

								<label for="password">Old Password:</label><span
									style="color: Red;"> * </span>
							</div>
							<div class="form-group col-md-5">

								<input type="password" ng-model="oldpassword"
									class="form-control" id="password"
									placeholder="Enter old password">

							</div>
						</div>

						<div class="form-group col-md-8">
							<div class="form-group col-md-4">

								<label for="password">New Password:</label><span
									style="color: Red;"> * </span>
							</div>
							<div class="form-group col-md-5">

								<input type="password" ng-model="password" class="form-control"
									id="password" placeholder="Enter new password">

							</div>
						</div>

						<div class="form-group col-md-8">
							<div class="form-group col-md-4">

								<label for="confirmpwd">Confirm Password:</label><span
									style="color: Red;"> * </span>
							</div>
							<div class="form-group col-md-5">

								<input type="password" ng-model="confirmpwd"
									class="form-control" id="confirmpwd"
									placeholder="Enter Confirm password">

							</div>
						</div>





						<div class="form-group col-md-8 center">
							<div class="form-group col-md-3">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button ng-click="EditPassword()" type="Submit"
									class="btn btn-default btn-setting">
									<i class="glyphicon glyphicon-chevron-left glyphicon-white"></i>&nbsp;Cancel
								</button>
							</div>
							<div class="form-group col-md-3">
								<button ng-click="adminpassword()"
									class="btn btn-default btn-setting">
									<i class="glyphicon glyphicon-refresh"></i> RESET
								</button>

							</div>
						</div>






					</div>



























				</div>

			</div>
		</div>
	</div>
</div>

</div>
</div>








<script>
	var activeTab = sessionStorage.getItem("activeTab");

	if (activeTab == null) {
		activeTab = "1";
	}

	if (activeTab == "1") {
		// Default
		if (document.getElementById('eventsLink') != null)
			document.getElementById('eventsLink').className = 'blacked';
		if (document.getElementById('spLink') != null)
			document.getElementById('spLink').className = 'greyed';
		if (document.getElementById('adminLink') != null)
			document.getElementById('adminLink').className = 'greyed';

		document.getElementById('sponsorList').className = 'tab-pane';
		document.getElementById('events').className = 'active';
		document.getElementById('admin').className = 'tab-pane';

	} else if (activeTab == "2") {
		if (document.getElementById('eventsLink') != null)
			document.getElementById('eventsLink').className = 'greyed';
		if (document.getElementById('spLink') != null)
			document.getElementById('spLink').className = 'blacked';
		if (document.getElementById('adminLink') != null)
			document.getElementById('adminLink').className = 'greyed';

		document.getElementById('sponsorList').className = 'active';
		document.getElementById('events').className = 'tab-pane';
		document.getElementById('admin').className = 'tab-pane';

	} else if (activeTab == "3") {
		if (document.getElementById('eventsLink') != null)
			document.getElementById('eventsLink').className = 'greyed';
		if (document.getElementById('spLink') != null)
			document.getElementById('spLink').className = 'greyed';
		if (document.getElementById('adminLink') != null)
			document.getElementById('adminLink').className = 'blacked';

		document.getElementById('admin').className = 'active';
		document.getElementById('events').className = 'tab-pane';
		document.getElementById('sponsorList').className = 'tab-pane';
	}
</script>


<script type="text/javascript">
	jQuery('#st-datetimepicker').datetimepicker({
		format : 'm/d/Y H:i'
	});
	jQuery('#en-datetimepicker').datetimepicker({
		format : 'm/d/Y H:i'
	});

	


</script>





