<html lang="en" ng-app="bmgApp">
<head>


<link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">




<link href="css/charisma-app.css" rel="stylesheet">
<!-- <link
	href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css'
	rel='stylesheet'> -->
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>



<script type="text/javascript" src="sessionCheck.js"></script>


<script src="bower_components/angular/angular.min.js"></script>

<script src="bower_components/angular-route/angular-route.js"></script>

<script src="js/jquery.noty.js"></script>
<script src="controllers/AdvertisementSellControllers.js"></script>


<style>
hr {
	color: #123455;
}
</style>
</head>
<body ng-controller="payByCheckCtrl">

	<!-- <form action="http://boomerangcastadmin.com:443/create_transaction" method="POST" -->

	<form id="payment-form" name="payment-form">
		<div class="panel-heading">

			<h1>
				<p class="center" style="font-weight: bold"font-size:"18">&nbsp&nbsp&nbsp&nbspValidate Billing Information</p>
			</h1>
			<br>
			<div class="panel panel-default">

				<div class="panel-heading">Billing Information</div>
				<br>
				<div class="panel-body">
					<div class="form-group col-md-12">
						<div class="form-group col-md-7">
						
							<div class="form-group col-md-12" ng-hide="ModelData.SponsorAddress">
							<label>BoomerangCast will send an invoice to:</label><br><br>
								<label for="businessName">{{selectedAd.businessName}}</label><br>
								<label for="contactFname"style="font-weight: normal;">{{selectedAd.contactFname}}&nbsp; {{selectedAd.contactLname}}</label><br>
								<label for="contactEmail"style="font-weight: normal;">{{selectedAd.contactEmail}}</label><br>
								<label for="contactPhoneNumber"style="font-weight: normal;">{{selectedAd.contactPhoneNumber}}</label><br>
								<label for="addressLine1"style="font-weight: normal;">{{selectedAd.addressLine1}}&nbsp; {{selectedAd.addressLine2}}</label><br>
								<label for="city"style="font-weight: normal;">{{selectedAd.city}}
								&nbsp; {{selectedAd.state}}&nbsp; {{selectedAd.postalCode}}</label><br>

							</div>
							<div class="form-group col-md-12">
							<br><br>
						<input type="checkbox" id="SponsorAddressCheckbox" name="SponsorAddressCheckbox" ng-model="ModelData.SponsorAddress" />
						<label>Send invoice to a different mailing address</label>
						</div>
							
							<div class="form-group col-md-12" ng-show="ModelData.SponsorAddress">
							<div class="form-group col-md-12">
							<div class="form-group col-md-3" style="text-align: right">
							
								<label>Business Name: </label> </div>
								<div class="form-group col-md-5">								
								<label for="businessName">{{selectedAd.businessName}}</label>
								</div>
						
						</div>
							
							
							<div class="form-group col-md-12">
						<div class="form-group col-md-3" style="text-align: right">
							
								<label>First Name: </label> </div>
								<div class="form-group col-md-5">								
								<input type="text"
									class="form-control" id="contactFname" ng-model="selectedAd.contactFname" /></div>
						
						</div>
						<div class="form-group col-md-12">
						<div class="form-group col-md-3" style="text-align: right">							
								<label>Last Name: </label></div>
								
								<div class="form-group col-md-5">
								 <input type="text" id="contactLname" ng-model="selectedAd.contactLname"
									class="form-control"  /></div>
							
						</div>
						<div class="form-group col-md-12">
						<div class="form-group col-md-3" style="text-align: right">							
								<label>Phone: </label></div>
								
								<div class="form-group col-md-5">
								 <input type="text" id="selectedAd.contactPhoneNumber"
									class="form-control" ng-model="selectedAd.contactPhoneNumber"
									maxlength="10"/></div>
							
						</div>
						<div class="form-group col-md-12">
						<div  class="form-group col-md-3" style="text-align: right">							
								<label>Email: </label></div>
								
								<div class="form-group col-md-5" >
								 <input type="text" id="selectedAd.contactEmail"
									class="form-control" ng-model="selectedAd.contactEmail"/></div>
							
						</div>
						<div class="form-group col-md-12">
						<div class="form-group col-md-3" style="text-align: right">							
								<label>Address: </label></div>
						<div class="form-group col-md-7">		
								 <input type="text" id="selectedAd.addressLine1"
									class="form-control" ng-model="selectedAd.addressLine1" /></div>
						
						</div>
						<div class="form-group col-md-12">
						<div class="form-group col-md-3">							
								<label></label></div>
						<div class="form-group col-md-7">		
								 <input type="text" id="addressLine2"
									class="form-control" ng-model="selectedAd.addressLine2" /></div>
						
						</div>
						<div class="form-group col-md-12">
						<div class="form-group col-md-3" style="text-align: right">							
								<label>City: </label></div>
						<div class="form-group col-md-5">		
								 <input type="text" id="selectedAd.city"
									class="form-control" ng-model="selectedAd.city" /></div>
						
						</div>
						<div class="form-group col-md-12">							
						<div class="form-group col-md-3" style="text-align: right">							
								<label>State: </label></div>
						<div class="form-group col-md-4" >		
								 <select type="text" class="form-control form-control-select" id="selectedAd.state"
							placeholder="State" ng-model="selectedAd.state" maxlength="2">
							<option value="" disabled="disabled">State</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select></div>
									<div class="form-group col-md-1" style="text-align: right">							
								<label>Zip: </label></div>
						<div class="form-group col-md-2">		
								 <input type="text" id="selectedAd.postalCode"
									class="form-control" ng-model="selectedAd.postalCode" /></div>
						</div>
						
						<div class="form-group col-md-12">
						<input type="checkbox" id="UpdateSponsorAddress" name="UpdateSponsorAddress" />
						<label>Update this Advertiser/Sponsor address to the address above</label> 
							</div>
							</div>
						



							<input type="hidden" readonly size="20" id="countryC"
								autocomplete="off" ng-model="country" value="USA" />
						</div>

						<div class="form-group col-md-4">
							<div class="form-group col-md-12" style="background: #F5F5F5;">
								<div class="form-group col-md-12" align="center">
									<img align="center" class="navbar-brand-text"
										style="max-width: 175px; max-height: 175px;"
										alt="BoomerangCast" src="img/boomerang-small-logo.png" />
								</div>
								<div class="form-group col-md-12" align="center">
									<label style="font-weight: normal;">BoomerangCast
										Billing</label>
								</div>
								<br>
								<!-- <div  class="form-group col-md-12" style="font-weight:bold;height:20px;"> -->
								<hr style="border: 1px solid #ccc;">
								<!-- </div> -->

								<div align="center" class="form-group col-md-12">
									<label for="orgName">{{org.orgName}}</label>
								</div>


								<!-- <div align="center" class="form-group col-md-12" > -->
								<hr style="border: 1px solid #ccc;">
								<!-- <label style="font-weight:normal"><font color="#cccccc">----------------------------------------------
-----------------------------------------------------------</font></label> -->
								<!-- </div> -->

								<div class="form-group col-md-12" style="text-align: right">
									<div class="form-group col-md-7">
										<label>Number Of Ad Slots: </label>
									</div>

									<div class="form-group col-md-5">
										<label id="numOfSlotsC"> numSlots</label>
									</div>
								</div>

								<div class="form-group col-md-12" style="text-align: right">
									<div class="form-group col-md-7">
										<label>Cost Per Ad: </label>
									</div>

									<div class="form-group col-md-5">
										<label>$</label> <label id="perAdCostC"> costPerAd</label>
									</div>
								</div>


								<!-- <div  class="form-group col-md-12" style="text-align:right;font-weight:bold;"> -->
								<hr style="border: 1px solid #ccc;">
								<!-- <label style="font-weight:normal"><font color="#cccccc">----------------------------------------------
-----------------------------------------------------------</font></label> -->
								<!-- </div> -->

								<div class="form-group col-md-12" style="text-align: right">
									<div class="form-group col-md-7">
										<label>Total: </label>
									</div>

									<div class="form-group col-md-5">

										<label>$</label> <label id="totalAmountC">saleAmount</label>
									</div>
								</div>





							</div>
						</div>

					</div>


					<div class="form-group col-md-6"
						style="text-align: right; font-weight: bold;">
						<hr>
					</div>
					<!-- <label style="font-weight:normal"><font color="#cccccc">----------------------------------------------
-------------------------------------------------------------------------</font></label> -->


					<div class="panel-body">


						<!-- <input type="hidden" readonly size="20" id="orgNameC"
							autocomplete="off" ng-model="orgName" value="{{orgName}}" /> 
							
							<input
							type="hidden" readonly size="20" id="orgIdC" autocomplete="off"
							ng-model="orgId" value="{{orgId}}" />  -->
							
							<input type="hidden"
							readonly size="100" id="adLabelC" autocomplete="off"
							ng-model="adLabel" value="{{adLabel}}" />
							
							 <input type="hidden"
							readonly size="100" id="notesC" autocomplete="off"
							ng-model="notes" value="{{notes}}" />
							
							 <!-- <input type="hidden"
							readonly size="20" id="nextURLC" autocomplete="off"
							ng-model="nextURL" /> -->
							
							<!--  <input type="hidden" readonly size="20"
							id="errorPageURLC" autocomplete="off" ng-model="errorPageURL" /> -->
							<!-- 
							 <input type="hidden" readonly size="20" id="advIdC"
							autocomplete="off" ng-model="advId" value="{{advId}}" />  -->
							
							<input
							type="hidden" class="form-control" readonly id="numSlotsC"
							autocomplete="off" ng-model="numSlots" value="{{numSlots}}" /> 
							
							<input
							type="hidden" id="costPerAdC" class="form-control" readonly
							autocomplete="off" ng-model="costPerAd"
							value="{{costPerAd | currency}}" /> 
							
							<input type="hidden"
							id="saleAmountC" class="form-control" readonly autocomplete="off"
							ng-model="saleAmount" value="{{saleAmount}}" /> 
							
							<!-- <input
							type="hidden" id="contactPhoneNumber" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.contactPhoneNumber"
							value="{{selectedAd.contactPhoneNumber}}" />
							<input
							type="hidden" id="contactFname" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.contactFname"
							value="{{selectedAd.contactFname}}" /> 
							<input
							type="hidden" id="contactLname" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.contactLname"
							value="{{selectedAd.contactLname}}" /> 
							<input
							type="hidden" id="addressLine1" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.addressLine1"
							value="{{selectedAd.addressLine1}}" /> 
							<input
							type="hidden" id="addressLine2" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.addressLine2"
							value="{{selectedAd.addressLine2}}" /> 
							<input
							type="hidden" id="city" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.city"
							value="{{selectedAd.city}}" /> 
							<input
							type="hidden" id="state" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.state"
							value="{{selectedAd.state}}" />
							<input
							type="hidden" id="postalCode" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.postalCode"
							value="{{selectedAd.postalCode}}" />
							<input
							type="hidden" id="contactPhoneAreacode" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.contactPhoneAreacode"
							value="{{selectedAd.contactPhoneAreacode}}" />
							<input
							type="hidden" id="contactEmail" class="form-control"
							readonly autocomplete="off" ng-model="selectedAd.contactEmail"
							value="{{selectedAd.contactEmail}}" />   -->
							
							<!-- <input type="hidden"
							id="businessNameC" class="form-control" readonly
							autocomplete="off" ng-model="businessName"
							value="{{businessName}}" />  -->
							
							<!-- <input type="hidden" id="org.cityC"
							class="form-control" readonly autocomplete="off"
							ng-model="org.city" value="{{org.city}}" /> <input type="hidden"
							id="org.addressLine1C" class="form-control" readonly
							autocomplete="off" ng-model="org.addressLine1"
							value="{{org.addressLine1}}" /> <input type="hidden"
							id="org.addressLine2C" class="form-control" readonly
							autocomplete="off" ng-model="org.addressLine2"
							value="{{org.addressLine2}}" /> <input type="hidden"
							id="org.stateC" class="form-control" readonly autocomplete="off"
							ng-model="org.state" value="{{org.state}}" /> <input
							type="hidden" id="org.countryC" class="form-control" readonly
							autocomplete="off" ng-model="org.country" value="{{org.country}}" /> <input type="hidden" id="org.postalCodeC" class="form-control"
							readonly autocomplete="off" ng-model="org.postalCode"
							value="{{org.postalCode}}" /> <input type="hidden"
							id="serverURL + org.orgLogoUrlC" class="form-control" readonly
							autocomplete="off" ng-model="orgLogoUrl"
							value="{{serverURL + org.orgLogoUrl}}" /> -->




					</div>
					<div class="form-group col-md-12">
						<div class="form-group col-md-3"></div>
						<div class="form-group col-md-9">
							<div class="form-group col-md-3">

								<button onClick='window.parent.location.reload();' type="Submit"
									class="btn btn-danger btn-setting right">Cancel</button>
							</div>
							<div class="form-group col-md-4">

								<a ng-click='doPayByCheck()' class="btn btn-success center">Send Invoice</a><br> 
							</div>
							

						</div>

					</div>
				</div>







			</div>
		</div>

	</form>







	<script>
		$(document)
				.ready(
						function() {

							console.log("numSlots"
									+ window.parent.document
											.getElementById("numSlots").value);
							console.log("costPerAd"
									+ window.parent.document
											.getElementById("costPerAd").value);
							console.log(window.parent.document
									.getElementById("saleAmount").innerHTML);
							console.log(window.parent.document
									.getElementById("orgName").value);
							console.log(window.parent.document
									.getElementById("orgId").value);
							console.log(window.parent.document
									.getElementById("advId").value);
							console.log(window.parent.document
									.getElementById("adLabel").value);
							console.log(window.parent.document
									.getElementById("notes").value);

							/* console.log("fName"
									+ window.parent.document
											.getElementById("fName").value); */
/* 
							document.getElementById("fNameC").value = window.parent.document
									.getElementById("fName").value; */
							document.getElementById("numSlotsC").value = window.parent.document
									.getElementById("numSlots").value;
							document.getElementById("costPerAdC").value = window.parent.document
									.getElementById("costPerAd").value;
							document.getElementById("adLabelC").value = window.parent.document
									.getElementById("adLabel").value;

							document.getElementById("notesC").value = window.parent.document
									.getElementById("notes").value;

							/* document.getElementById("lNameC").value = window.parent.document
									.getElementById("lName").value;
							document.getElementById("addressLine1C").value = window.parent.document
									.getElementById("addressLine1").value;
							document.getElementById("addressLine2C").value = window.parent.document
									.getElementById("addressLine2").value;
							document.getElementById("cityC").value = window.parent.document
									.getElementById("city").value;
							document.getElementById("pcodeC").value = window.parent.document
									.getElementById("pcode").value;
							document.getElementById("stateC").value = window.parent.document
									.getElementById("state").value; */
							/* document.getElementById("contactEmail").value = window.parent.document.getElementById("contactEmail").value;
							document.getElementById("contactPhoneNumber").value = window.parent.document.getElementById("contactPhoneNumber").value;
							document.getElementById("businessName").value = window.parent.document.getElementById("businessName").value;
							 */

							/* document.getElementById("org.cityC").value = window.parent.document
									.getElementById("org.city").value;
							document.getElementById("org.addressLine1C").value = window.parent.document
									.getElementById("org.addressLine1").value;
							document.getElementById("org.addressLine2C").value = window.parent.document
									.getElementById("org.addressLine2").value;
							document.getElementById("org.stateC").value = window.parent.document
									.getElementById("org.state").value;
							document.getElementById("org.countryC").value = window.parent.document
									.getElementById("org.country").value;
							document.getElementById("org.postalCodeC").value = window.parent.document
									.getElementById("org.postalCode").value;
							document
									.getElementById("serverURL + org.orgLogoUrlC").value = window.parent.document
									.getElementById("serverURL + org.orgLogoUrl").value;

							document.getElementById("saleAmountC").value = window.parent.document
									.getElementById("saleAmount").innerHTML;

							document.getElementById("orgNameC").value = window.parent.document
									.getElementById("orgName").value;
							document.getElementById("orgIdC").value = window.parent.document
									.getElementById("orgId").value;
							document.getElementById("advIdC").value = window.parent.document
									.getElementById("advId").value;
							document.getElementById("nextURLC").value = window.parent.document
									.getElementById("nextURL").value;
							document.getElementById("errorPageURLC").value = window.parent.document
									.getElementById("errorPageURL").value;
							
							

							document.getElementById("organizatnNameC").textContent = window.parent.document
									.getElementById("orgName").value; */
							document.getElementById("numOfSlotsC").textContent = window.parent.document
									.getElementById("numSlots").value;
							document.getElementById("perAdCostC").textContent = window.parent.document
									.getElementById("costPerAd").value;
							document.getElementById("totalAmountC").textContent = window.parent.document
									.getElementById("saleAmount").innerHTML;

						});
	</script>
	
	

</body>
</html>
