<!DOCTYPE html>

<html lang="en" ng-app="bmgApp">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<meta charset="utf-8">

<title>User Admin Console</title>

<meta charset="utf-8">



<!-- The styles -->

<link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet"> 





<link href="css/charisma-app.css" rel="stylesheet">

<link href='bower_components/fullcalendar/dist/fullcalendar.css'
	rel='stylesheet'>

<link href='bower_components/fullcalendar/dist/fullcalendar.print.css'
	rel='stylesheet' media='print'>

<link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>

<link href='bower_components/colorbox/example3/colorbox.css'
	rel='stylesheet'>

<link href='bower_components/responsive-tables/responsive-tables.css'
	rel='stylesheet'>

<link
	href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css'
	rel='stylesheet'>

<link href='css/jquery.noty.css' rel='stylesheet'>
<link href='css/noty_theme_default.css' rel='stylesheet'>

<link href='css/elfinder.min.css' rel='stylesheet'>
<link href='css/elfinder.theme.css' rel='stylesheet'>

<link href='css/jquery.iphone.toggle.css' rel='stylesheet'>

<link href='css/uploadify.css' rel='stylesheet'>

<link href='css/animate.min.css' rel='stylesheet'>

<link href='css/jquery.jscrollpane.css' rel="stylesheet" >

<!-- <link href='css/datetimepicker.css' rel='stylesheet'> -->

<!--  <link rel="stylesheet" href="css/jquery-ui.theme.css">
 -->
	

  <link rel="stylesheet" href="css/jquery-ui.css" type="text/css"
	media="all" />
<link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css">

<link rel="stylesheet" type="text/css" href="css/sb-admin-2.css">	
<script type="text/javascript" src="sessionCheck.js"></script>
<script src="bower_components/jquery/jquery.js"></script>

<script src="js/jquery-ui.js"></script>
<script src="js/date.js"></script>

<script src="bower_components/angular/angular.min.js"></script>

<script src="bower_components/angular-route/angular-route.js"></script>

<script src="js/jquery.noty.js"></script>
<script src="controllers/dashboardcontrollers.js"></script>
<script src="controllers/orgdashboardcontrollers.js"></script>


<script type="text/javascript" src="endpoints.js"></script>
<script type="text/javascript" src="boomerangUtil.js"></script>
<script src="controllers/BreadcrumbControllers.js"></script>

<script src="js/ui-bootstrap-tpls.min.js"></script>



		<script type="text/javascript" src="js/jquery.datetimepicker.js"></script>
</head>


<body>

	<!-- topbar starts -->

	<div class="navbar navbar-default" role="navigation">


		<!-- <div class="navbar-inner"> -->

			 
			<!-- <a class="navbar-brand" href="dashboard.html"> -->   <!-- <img id="bmgimg"
				class="navbar-brand" alt="BoomerangCast" src="img/boomerang-01-logo.png" class="left" style="max-width:100%;max-height:100%" />
 
				
<img  id="bmgtxt" class="navbar-brand-text"
				alt="BoomerangCast" src="img/boomerang-01-text.png" class="left" /> --> 


			

			
 <div class="btn-group pull-right" id="drpdn"> 
 <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-user yellow"></i>
 <span class="dropdown-toggle" data-toggle="dropdown"><font color="#F19D58">User</font></span>
                    <span class="caret"></span>
<!-- <a class="dropdown-toggle" data-toggle="dropdown">Show menu</a> --></button>

<ul class="dropdown-menu" role="menu">
<!-- <li><a href="#{{'/dashboard'}}">Home</a></li>
    
                    <li class="divider"></li> -->
                    
                    <!-- <li><a href="#">Profile</a></li>
                    <li class="divider"></li> -->
                   
                   <li>
                    
                    <a href="#{{'/Logout'}}">Logout</a></li></ul> </div></div>
<script>
$(document).ready(function () {
    $('.dropdown-toggle').click(function() {
        $('.dropdown-menu').show();
    })

    $('.dropdown-toggle').mouseout(function() {
        /* t = setTimeout(function() {
            $('.dropdown-menu').hide();
        }, 100); */

        $('.dropdown-menu').on('mouseenter', function() {
            $('.dropdown-menu').show();
            //clearTimeout(t);
        }).on('mouseleave', function() {
            $('.dropdown-menu').hide();
        })
    })
    
    

})

</script> 
<div id="content" class="col-lg-12 col-sm-12">

				<!-- content starts -->

				<!-- <div id="breadcrumb"> 

					<ul class="breadcrumb">

						<li><a href="">Home</a></li>

						<li><a href="#{{'/dashboard'}}">Dashboard</a></li>
					</ul>
					</div> -->
				<!-- <div class="box col-md-12"> -->
				<br><!-- <img align="right"  class="navbar-brand-text" style="max-width:175px;max-height:175px;"
				alt="BoomerangCast" src="img/boomerang-small-logo.png"  /> -->
                 <div class="box-content">	
                 <div ng-view></div>
					</div></div>
					
					
					
					
					
					
					
					
					




		

	

	<!-- topbar ends -->

	<!-- <div class="ch-container">

		<div class="row">


			left menu starts

			<div class="col-sm-2 col-lg-2">

				<div class="sidebar-nav">

					<div class="nav-canvas">

						<div class="nav-sm nav nav-stacked"></div>

						<ul class="nav nav-pills nav-stacked main-menu">

							<li class="nav-header">Main</li>



							<li><a class="ajax-link" href="dashboard.html"><i
									class="glyphicon glyphicon-home"></i><span> Dashboard</span></a></li>

							<li><a class="ajax-link" href="events.html"><i
									class="glyphicon glyphicon-list-alt"></i><span> Events</span></a>

								<ul>
									<li><a class="ajax-link" href="#/newevent">Create
											Event</a></li>
								</ul></li>


							<li><a href="sponsors.html"><i
									class="glyphicon glyphicon-lock"></i><span> Sponsors</span></a>
								<ul>
									<li><a class="ajax-link" href="#/newadvt">Create
											Sponsor</a></li>
									<li><a class="ajax-link" href="updatesponsor.html">Update
											Sponsor</a></li>
								</ul></li>
							<li><a class="ajax-link" href="advertisements.html"><i
									class="glyphicon glyphicon-picture"></i><span>
										Advertisement</span></a>
								<ul>
									<li><a class="ajax-link" href="SellAd.html">Sell
											Advertisement</a></li>
								</ul></li>


						</ul>
					</div>
				</div>
			</div> -->
			<!--/span-->
			<!-- left menu ends -->
<!-- 
			<noscript>

				<div class="alert alert-block col-md-12">

					<h4 class="alert-heading">Warning!</h4>


					<p>
						You need to have <a href="http://en.wikipedia.org/wiki/JavaScript"
							target="_blank">JavaScript</a> enabled to use this site.
					</p>

				</div>

			</noscript> -->


			

</body>
</html>




