

<br>
<br>
<br>
<br>


<h2 style="font-weight: bold ; font-size:18; text-align: center; "> Reviewer Login  </h2>
<div class="form-group col-md-6 center">
	<div class="panel panel-default">
		<!-- <div class="form-horizontal" action="" method="post"><br> -->
		<div class="panel-body">
			<div class="alert alert-info">Please login with your Username
				 & password.</div>

			<div class="input-group input-group-lg">
				<span class="input-group-addon"><i
					class="glyphicon glyphicon-user red"></i></span> <input type="text"
					class="form-control" ng-model="username" id="username"
					placeholder="Username">

			</div>

			<br>

			<div class="input-group input-group-lg">
				<span class="input-group-addon"><i
					class="glyphicon glyphicon-lock red"></i></span> <input type="password"
					class="form-control" ng-model="password" id="password"
					placeholder="Password">
			</div>

			
			<br>

			<div class="form-group col-md-3 center">
				<a href="#/AdminLogin" ng-click='Authentication()'
					class="btn btn-default btn-setting"> Login </a>
			</div>
			

			

		</div>
		
	</div>

</div>
</div>







<script type="text/javascript">
function validate(){
    $(document).on('click', '.sitelink', function(){ // if user click on link
       var site_pref = $(this).attr('href');         
       if($('#remember_me').is(':checked')){        //if checkbox is checked then 
                                                    //  write link url t cookie
          createCookie('site_pref', site_pref, 30);  // for 30 days
       } else {
          eraseCookie('site_pref');                
       }
       return true;
    });


    var site_pref = readCookie('site_pref');  //read cookie
    if(site_pref){                             //if cookie present then
        self.location=(site_pref);      //redirect to path form cookie
    }    
}

validate();

// Taken verbatim from http://www.quirksmode.org/js/cookies.html

function createCookie(username,value,days) {
    if (days) {
        var date = new Date();
        date.setTime(date.getTime()+(days*24*60*60*1000));
        var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = username+"="+value+expires+"; path=/";
}

function readCookie(username) {
    var nameEQ = username + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

function eraseCookie(username) {
    createCookie(username,"",-1);
}
</script>


