	<div class="panel panel-default">

		<div class="panel-heading center "><h3 style="font-weight:strong">Regional Traffic Police - Challan</h3></div>
		<div class="panel-body">
		
		<div class="form-group col-md-12 center">
			<img src="img/rto.jpg" >
		</div>
		
		<br><br>

			<div class="form-group col-md-6">

				<label for="orgName">Name:</label>
		
				
			
			</div>
			
			<div class="form-group col-md-6">


				
					<label style="font-size: large;">{{name}} </label>
			
			</div>
			

		


	
		



			<div class="form-group col-md-6">
				<label for="fname">Challan No:</label>

				
			</div>

<div class="form-group col-md-6">
							<label style="font-size: large;">{{'BNGRTN0000' + reportId}} </label>
</div>


			<div class="form-group col-md-6">
				<label for="fname">Date and Time:</label>

				
			</div>

<div class="form-group col-md-6">
							<label style="font-size: medium;">{{challanData.reportDatetime}} </label>
</div>


			<div class="form-group col-md-6 ">
				<label class="align-right" for="fname">Place Of Violation:</label>

				
			</div>

<div class="form-group col-md-6">
							<label style="font-size: medium;">{{challanData.location}} </label>
</div>
	
	
	<div class="form-group col-md-6 ">
				<label class="align-right" for="fname">Offense:</label>

				
			</div>

<div class="form-group col-md-6">
							<label style="font-size: medium;">{{challanData.violationType}} </label>
</div>

	<div class="form-group col-md-6 ">
				<label class="align-right" for="fname">Fine:</label>

				
			</div>

<div class="form-group col-md-6">
							<label style="font-size: large;">&#8377;500.00 </label>
</div>


<div class="form-group col-md-6 right">
	<a onClick="history.back()" type="Submit"
		class="btn btn-default btn-setting"> <i
		class="glyphicon glyphicon-chevron-left glyphicon-white"></i>&nbspBack
	</a>
	
</div>

<div class="form-group col-md-6 left">
	<a onClick="window.print()" type="Submit"
		class="btn btn-success btn-setting"> <i
		class="glyphicon glyphicon-print glyphicon-white"></i>&nbspPrint
	</a>
	
</div>

