<!-- <script src="js/tableCollapse.js"></script> -->
<!-- <img align="right" class="navbar-brand-text" style="max-width:175px;max-height:175px;"
				alt="BoomerangCast" src="img/boomerang-small-logo.png"  /> -->

									

	<div class="box col-md-12">

 <div class="col-lg-3 col-md-3">
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <div class="row">
                                
                                
                                <div class="col-xs-6 text-left">
								<div><strong>Welcome !! &nbsp;{{userdetails.fname}}&nbsp;{{userdetails.lname}}</strong></div>
								<div>Area  :&nbsp;&nbsp;&nbsp;<strong></strong></div>
                                <div>No of Reports Generated:&nbsp;&nbsp;&nbsp;<strong></strong></div>
                                <div>No of Reports Validated:&nbsp;&nbsp;&nbsp;<strong></strong></div>
                                    
						<div >&nbsp;</div>
								</div>
                            </div>
                        </div>
                       
                    </div>
</div>


</div>



	<!-- <div class="box-content" > -->

<div class="box-content">
<ul class="nav nav-tabs">
  <li><a id="eventsLink" style="font-weight: bold;text-decoration: none" onclick="document.getElementById('sponsorList').className='tab-pane'; document.getElementById('events').className='active'; document.getElementById('admin').className='tab-pane';document.getElementById('eventsLink').className='blacked';document.getElementById('spLink').className='greyed';document.getElementById('adminLink').className='greyed';sessionStorage.setItem('activeTab','1');" data-toggle="active">Review Reports</a></li>
  <li><a id="spLink" style="font-weight: bold;text-decoration: none"onclick="document.getElementById('sponsorList').className='active'; document.getElementById('events').className='tab-pane'; document.getElementById('admin').className='tab-pane';document.getElementById('spLink').className='blacked';document.getElementById('eventsLink').className='greyed';document.getElementById('adminLink').className='greyed';sessionStorage.setItem('activeTab','2');" data-toggle="tab">View / Register User</a></li>
   <li><a id="adminLink" style="font-weight: bold;text-decoration: none" onclick="document.getElementById('sponsorList').className='tab-pane'; document.getElementById('events').className='tab-pane'; document.getElementById('admin').className='active';document.getElementById('adminLink').className='blacked';document.getElementById('eventsLink').className='greyed';document.getElementById('spLink').className='greyed';sessionStorage.setItem('activeTab','3');" data-toggle="tab">Review History</a></li>
</ul>
</div>

 <div id='content' class="tab-content">
 
		
		<div class="tab-pane active" id="events">
			<div class="box-content">
				<div class="row">
					<div class="box col-md-12">
						<div class="box-inner">
							<div class="box-header well" data-original-title="">
								<h2>
									<i class="glyphicon glyphicon-"></i>Reports & Account Details&nbsp;&nbsp;&nbsp;  <input placeholder="Search" ng-model="searchKeywordAd" type="text" max-width=10 style="border-radius:4px;height: 25px;padding: 8px 12px;font-size: 14px;">
								</h2>
								<div class="box-icon">
					
				</div>


							</div>
							<div class="box-content"><div style="width:100%; ">

								<table class="table table-striped table-bordered responsive">
									<thead>
										<tr>
											<th>Camera Id</th>
											<th>Location</th>
											<th>User</th>
											<th>Clip</th>
											<th>Violation Type</th>
											<th>Review Status</th>
											<th>Notes</th>
											<th>Action</th>
										</tr>
									</thead>

									<tbody>
									 <tr ng-repeat="rep in reports"  class="ng-scope">
											<td><a class="blue center box col-md-1" style="font-weight: bold;">{{rep.cameraId}}</a></td>

											<td class="center box col-md-2">{{rep.location}}</td>
											<td class="center box col-md-1">{{rep.userId}}</td>
											
											<td height="1" class="center box col-md-2">
											<video ng-if="rep.videoPath" style="width:500px;height:200px;object-fit: fill;" src="{{'files/' + rep.videoPath}}" controls/>
											<img ng-if="rep.imagePath" style="width:500px;height:200px;object-fit: fill;" src="{{'files/' + rep.imagePath}}" />
											
											</td>
											<td class="center box col-md-1">{{rep.violationType}}</td>
											<td class="center box col-md-1">{{rep.status}}</td>
											<td class="center box col-md-2"><textarea cols="40" rows=6  ng-model="rep.notes" id="notes"></textarea></td>
											<td class="center box col-md-2"><a
													ng-click="UpdateReport(rep.reportId,'Rejected',rep.notes)"><button
															type="submit" class="btn btn-danger">
															<i class="glyphicon glyphicon-remove-sign"></i>&nbspReject
														</button></a>&nbsp;&nbsp;&nbsp;<a
													ng-click="UpdateReport(rep.reportId,'Approved',rep.notes)"><button
															type="submit" class="btn btn-success">
															<i class="glyphicon glyphicon glyphicon-hand-up"></i>&nbspApprove
														</button></a></td>
											
										</tr> 
									</tbody>

								</table></div>
								<!-- <a class="btn btn-default" href="#/newadvt/{{currentOrg.orgId}}">
									<i class="glyphicon glyphicon-plus"></i> Add Sponsors
								</a> -->
								

		
			  
    
    
    
    
    
    
    




		
	

							</div>
						</div>
					</div>


				</div>
			</div>
			
			
			
			</div>
			
			<div class="tab-pane" id="sponsorList">
			<div class="box-content">
				<div class="row">
					<div class="box col-md-12">
						<div class="box-inner">
							<div class="box-header well" data-original-title="">
								<h2>
									<i class="glyphicon glyphicon-"></i>Reports & Account Details&nbsp;&nbsp;&nbsp;  <input placeholder="Search" ng-model="searchKeywordAd" type="text" max-width=10 style="border-radius:4px;height: 25px;padding: 8px 12px;font-size: 14px;">
								</h2>
								<div class="box-icon">
					
				</div>


							</div>
							<div class="box-content"><div style="width:100%; overflow-x: hidden; ">

								<table class="table table-striped table-bordered responsive">
									<thead>
										<tr>
											<th>User Name</th>
											<th>Email</th>
											<th>Camera Location</th>
											<th>Phone</th>
											<th>Status</th>
											<th>Bank Account Details</th>
										</tr>
									</thead>

									<tbody>
									
									
									
										 <tr ng-repeat="user in users " class="ng-scope"">
											<td>{{user.username}}</td>


											<td class="center">{{user.email}}</td>
											<td class="center">{{user.address}}</td>
											<td class="center">{{user.phoneNumber}}</td>
											<td class="center">{{user.status}}</td>
											<td class="center">{{user.accountNumber}}</td>
											
										</tr>
									</tbody>

								</table></div>
								<a class="btn btn-default" href="#/newuser">
									<i class="glyphicon glyphicon-plus"></i> Add User
								</a>
								

		
			  
    
    
    
    
    
    
    




		
	

							</div>
						</div>
					</div>


				</div>
			</div>
			</div>
			
			<div class="tab-pane" id="admin" >

			<div class="box-content">
				<div class="row">
					<div class="box col-md-12">
						<div class="box-inner">
							<div class="box-header well" data-original-title="">
								<h2>
									<i class="glyphicon glyphicon-"></i>Historical Reports & Account Details&nbsp;&nbsp;&nbsp;  <input placeholder="Search" ng-model="searchKeywordAd" type="text" max-width=10 style="border-radius:4px;height: 25px;padding: 8px 12px;font-size: 14px;">
								</h2>
								<div class="box-icon">
					
				</div>


							</div>
							<div class="box-content"><div style="width:100%; overflow-x: hidden; ">

								<table class="table table-striped table-bordered responsive">
									<thead>
										<tr>
											<th>Camera Id</th>
											<th>Location</th>
											<th>User</th>
											<th>Clip</th>
											<th>Violation Type</th>
											<th>Review Status</th>
											<th>Notes</th>
											<th>Challan</th>
										</tr>
									</thead>

									<tbody>
									 <tr ng-repeat="rep in historicalReports"  class="ng-scope">
											<td><a class="blue center box col-md-1" style="font-weight: bold;">{{rep.cameraId}}</a></td>

											<td class="center box col-md-2">{{rep.location}}</td>
											<td class="center box col-md-1">{{rep.userId}}</td>
											
											<td height="1" class="center box col-md-2">
											<video ng-if="rep.videoPath" style="width:500px;height:200px;object-fit: fill;" src="{{'files/' + rep.videoPath}}" controls/>
											<img ng-if="rep.imagePath" style="width:500px;height:200px;object-fit: fill;" src="{{'files/' + rep.imagePath}}" />
											
											</td>
											<td class="center box col-md-1">{{rep.violationType}}</td>
											<td class="center box col-md-1">{{rep.status}}</td>
											<td class="center box col-md-2">{{rep.notes}}</td>
											<td class="center box col-md-1"><a
													href="#/viewChallan/{{rep.reportId}}"><button
															type="submit" class="btn btn-danger">
															<i class="glyphicon glyphicon-remove-sign"></i>&nbspView Challan
														</button></a></td>
											
										</tr> 
									</tbody>
								
								
								</div>
								
								

		
			  
    
    
    
    
    
    
    




		
	

							</div>
						</div>
					</div>


				</div>
			</div>
					</div>
				</div>

			</div>
</div>

		
		
		
		
	


<script>

var activeTab = sessionStorage.getItem("activeTab");

if(activeTab ==null){
	activeTab = "1";
}


if(activeTab == "1"){
	// Default
	if(document.getElementById('eventsLink') !=null)
		document.getElementById('eventsLink').className='blacked';
	if(document.getElementById('spLink')!=null)
		document.getElementById('spLink').className='greyed';
	if( document.getElementById('adminLink')!=null)
		document.getElementById('adminLink').className='greyed';
	
	document.getElementById('sponsorList').className='tab-pane'; 
	document.getElementById('events').className='active'; 
	document.getElementById('admin').className='tab-pane';
	
}else if(activeTab == "2"){
	if(document.getElementById('eventsLink')!=null)
		document.getElementById('eventsLink').className='greyed';
	if(document.getElementById('spLink')!=null)
		document.getElementById('spLink').className='blacked';
	if( document.getElementById('adminLink')!=null)
		document.getElementById('adminLink').className='greyed';
	
	document.getElementById('sponsorList').className='active'; 
	document.getElementById('events').className='tab-pane'; 
	document.getElementById('admin').className='tab-pane';
	
}else if(activeTab == "3"){
	if(document.getElementById('eventsLink')!=null)
		document.getElementById('eventsLink').className='greyed';
	if(document.getElementById('spLink')!=null)
		document.getElementById('spLink').className='greyed';
	if( document.getElementById('adminLink')!=null)
		document.getElementById('adminLink').className='blacked';
	
	document.getElementById('admin').className='active'; 
	document.getElementById('events').className='tab-pane'; 
	document.getElementById('sponsorList').className='tab-pane';
}

</script>


<script type="text/javascript">
	jQuery('#st-datetimepicker').datetimepicker({
		format : 'm/d/Y H:i'
	});
	jQuery('#en-datetimepicker').datetimepicker({
		format : 'm/d/Y H:i'
	});

	


</script>
	



	
