
<br><br>
<div class="form-group col-md-10 center">

	<br>
	<div class="panel panel-default">

		<div class="panel-heading" align="left">Create User</div>
		<div class="panel-body">


			

<div class="form-group col-md-10 left">


			<div class="form-group col-md-12">
			<div style="text-align:right" class="form-group col-md-2">
				<label for="fname">User Name</label></div>
				<div class="form-group col-md-4">
				 <input type="text"
					class="form-control" ng-model="username" id="username"
					placeholder="Enter User Name"></div>

			</div>
			<div class="form-group col-md-12">
			<div style="text-align:right" class="form-group col-md-2">
				<label for="fname">First Name</label></div>
				<div class="form-group col-md-4">
				 <input type="text"
					class="form-control" ng-model="fname" id="fname"
					placeholder="Enter First Name" ng-change="accountName=fname+lname"></div>

			</div>
			<div class="form-group col-md-12">
			<div style="text-align:right" class="form-group col-md-2">
				<label for="lname">Last Name</label></div>
				<div class="form-group col-md-4"> <input type="text"
					class="form-control" ng-model="lname" id="lname"
					placeholder="Enter Last Name" ng-change="accountName=fname+' ' + lname"></div>

			</div>
			<div class="form-group col-md-12">
			<div style="text-align:right" class="form-group col-md-2">
				<label for="email">Email (Username)</label><span style="color: Red;">
					* </span></div>
				<div class="form-group col-md-4">
				 <input type="text"
					class="form-control" ng-model="email" id="email"
					placeholder="Enter E-mail address" pattern="([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])"></div>

			</div>

			<div class="form-group col-md-12">
			<div style="text-align:right" class="form-group col-md-2">
				<label for="phoneNumber">Phone Number</label></div>
				<div class="form-group col-md-4"> <input type="text"
					class="form-control" ng-model="phoneNumber" id="phoneNumber"
					placeholder="XXX-XXX-XXXX" maxlength="10" onBlur='addDashes(this)'></div>

			</div>


			<!-- <div class="form-group col-md-12">
				<label for="username">User Name</label> <span style="color: Red;">
					* </span> <input type="text" class="form-control" ng-model="username"
					id="username" placeholder="User Id">
			</div> -->

			<div class="form-group col-md-12">
			<div style="text-align:right" class="form-group col-md-2">
				<label for="password">Password</label>
				 <span style="color: Red;">
					* </span></div>
					<div class="form-group col-md-4"> <input type="password" class="form-control" ng-model="password"
					id="password" placeholder="Password"></div>
			</div>

			<div class="form-group col-md-12">
			<div style="text-align:right" class="form-group col-md-2">
				<label for="confirmPassword">Confirm Password<span
					style="color: Red;"> * </span></label></div>
					<div class="form-group col-md-4"> <input type="password"
					class="form-control" ng-model="confirmPassword"
					id="confirmPassword" placeholder="Confirm Password"></div>
			</div>
			
				<div class="form-group col-md-12">
					<div style="text-align:right" class="form-group col-md-2">
						<label for="address">Camera Location<span style="color: Red;">
								* </span></label>
					</div>
					<div class="form-group col-md-6">
						<input type="text" class="form-control" id="address"
							ng-model="address" placeholder="Street Address Line 1" >
					</div>
				</div>


				<div class="form-group col-md-12">
					<div style="text-align:right" class="form-group col-md-2">
						<label for="address"></label>
					</div>
					<div class="form-group col-md-3">

						<input type="text" class="form-control" id="city"
							placeholder="City" ng-model="city" ng-init="city='Bangalore'"
							value="Bangalore">
					</div>
					<div class="form-group col-md-2">
						<input type="text" class="form-control" id="state"
							ng-model="state" ng-init="state='Karnataka'"
							value="Karnataka">
					</div>

				</div>
				<div class="form-group col-md-12">
					<div style="text-align:right" class="form-group col-md-2">
						<label for="address"></label>
					</div>
					<div class="form-group col-md-3">
						<input type="text" class="form-control" id="postalCode"
							placeholder="Zip" ng-model="postalCode" maxlength="10">
					</div>
					<div class="form-group col-md-2">
						<input type="text" class="form-control" id="country"
							ng-model="country" ng-init="country='India'"
							value="India">
					</div>
				</div>
			
			<div class="form-group col-md-12">
					<div style="text-align:right" class="form-group col-md-2">
						<label for="accountNumber">Bank Account Number</label>
					</div>
					<div class="form-group col-md-3">
						<input type="text" class="form-control" id="accountNumber"
							placeholder="Bank Account Number" ng-model="accountNumber" maxlength="10">
					</div>
					
				</div>
			
			<div class="form-group col-md-12">
					<div style="text-align:right" class="form-group col-md-2">
						<label for="accountNumber">Account Name</label>
					</div>
					<div class="form-group col-md-2">
								<input type="text" class="form-control" id="accountName"
									ng-model="accountName" ng-init="accountName=fname+lname"
									value="HDFC Kasturba Rd, Bangalore">
							</div>
					
			</div>
			<div class="form-group col-md-12">
					<div style="text-align:right" class="form-group col-md-2">
						<label for="accountNumber">IFSC Code</label>
					</div>
					<div class="form-group col-md-2">
						<input type="text" class="form-control" id="ifsccode"
							ng-model="ifsccode" ng-init="ifsccode='HDFC0002'"
							value="HDFC Kasturba Rd, Bangalore">
					</div>
					
			</div>
			

			
			
			</div>
		</div>
	</div>


<div class="form-group col-md-6">
<div class="form-group col-md-3">
	<button onClick='goBack()' type="Submit"
		class="btn btn-default btn-setting">
		<i class="glyphicon glyphicon-chevron-left glyphicon-white"></i>&nbspCancel
	</button>
</div>

<div class="form-group col-md-3">
	<a ng-click='CreateUser()'><button class="btn btn-default"
			type="Save" class="btn btn-save">
			<i class="glyphicon glyphicon-edit icon-white"></i>&nbspSave
		</button></a>
</div>

</div></div>

<!-- <div class="form-group col-md-4">
		<a href="#"><button class="btn btn-info" type="ReturntoDashboard"
				class="btn btn-step-backward">Return To Dashboard</button></a>
	</div> -->
<script>

function addDashes(f)
{
    f_val = f.value.replace(/\D[^\.]/g, "");
    f.value = f_val.slice(0,3)+"-"+f_val.slice(3,6)+"-"+f_val.slice(6);
}

</script>
